*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: 'Teko', sans-serif;
}

.title{
    text-align: center;
    font-size: 4em;
}

.team-container{
    margin: 20px;
    /* width: 10%; */
    display: block;
    border: 0.1px solid rgb(209, 209, 209);
    -moz-box-shadow: 3px 3px 5px 0px #656565;
    -webkit-box-shadow: 3px 3px 5px 0px #656565;
    -o-box-shadow: 3px 3px 5px 0px #656565;
    box-shadow: 3px 3px 5px 0px #656565;;
}



.team-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
}

.team-infos img{
    padding-bottom: 10px;
}

.team-infos .team-name{
    font-size: 1.5em;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.team-link:hover .team-name{
    text-decoration: underline;
}

.team-container:hover{
    height: 85%;
}