{% extends "layout/base.html" %}


{% block title %}
<title>liste des équipes</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="../static/style.css">
{% endblock style %}

{% block content %}
<h1 class="title">Les équipes de NBA</h1>
<div class="page-container">
    {% for team in teams %}
    {% if team.logo %}
    <div class="team-container">
        <a href="{{ url_for('team', id=team.teamId) }}" class="team-link">
            <div class="team-infos">
                <img width="50px" height="40px" src="{{ team.logo  }}" alt="">
                <h3 class="team-name">{{ team.fullName  }}</h3>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}