{% extends "layout/base.html" %}


{% block title %}
<title>liste des équipes</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="../static/style.css">
{% endblock style %}

{% block content %}
<h1 class="title">Les équipes de NBA</h1>
<div class="container">
    {% for team in teams %}
    <div class="team-container">
        <a href="{{ url_for('team', id=team.teamId) }}" class="team-link">
            <img width="40px" height="40px" src="{{ team.logo  }}" alt="">
            <h3>{{ team.fullName  }}</h3>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}