{% extends "layout/base.html" %}


{% block title %}
<title>liste des joueurs</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="../static/team.css">
{% endblock style %}

{% block content %}

<a href="{{ url_for('index') }}"> <i class="fas fa-caret-left"></i> Revenir aux equipes</a>

<div class="container">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Joueur</th>
                <th scope="col">Pays</th>
                <th scope="col">Année pro</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Taille</th>
                <th scope="col">Poids</th>
            </tr>
        </thead>
        <tbody>

            {% for player in players %}
            <tr>
                <th scope="row">{{player.firstName | capitalize}} {{player.lastName | upper}}</th>
                <td>{{player.country}}</td>
                <td>{{player.yearsPro}}</td>
                <td>{{player.dateOfBirth}}</td>
                <td>{{player.heightInMeters}}m</td>
                <td>{{player.weightInKilograms}}Kg</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}